@use 'base/mixins' as m;
@use 'base/variables' as v;

.crear{
    margin-top: 4rem;
    .uptask{
        @include m.textoDegradado(v.$cyan, v.$negro);
        margin-bottom: 4rem;
    }

    input[type="submit"]{
        @include m.boton(v.$cyan, v.$blanco);
        
        
    }

    .acciones{
        a{
            color: v.$cyan;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}