@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
    background-color: v.$rojo;
    padding: 2rem;
    h2{
        color: v.$blanco;
        margin: 0;
        text-align: center;
    }

    .sidebar-nav{
        margin-top: 5rem;

        a{
            color: v.$blanco;
            display: block;
            margin-bottom: 1.5rem;
            padding: .7rem;
            transition-property: background-color, border-radius;
            transition-duration: .3s;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;

            &:hover,
            &.activo{
                background-color: darken(v.$rojo, 20%);
                border-radius: .5rem;
            
            }
            
        }
    }
}